body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-image: url("/assets/images/steampunk.jpeg"); */
    background-image: url("/assets/images/25329.jpg");
    background-size: cover;
    background-repeat:repeat-y;
    background-position: center;
}

.gameContainer {
    background-color:rgba(255, 255, 255, 0.85);
}

.answerBox, #palettBox, #codeToGuess {
    display: flex;
    gap: 10px; 
}

.answerItem, .codeDigit {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px; /* Centers text vertically */
    border: 1px solid #000;
}

.palettColor {
    width: 50px;
    height: 50px;
    background-color: coral;
    text-align: center;
    line-height: 50px; /* Centers text vertically */
    border: 1px solid #000;
}